<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NanoNet | @ViewData["Title"]</title>
    @* Bootstrap File *@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    @* Icon Link *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    @* Toastr Link *@
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NanoNet.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex align-items-center">
                        <li class="nav-item">
                            <a class="navbar-brand fw-bolder" style="color:#6520e0" asp-controller="Home" asp-action="Index">NanoNet</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand fw-bolder" style="color:#1a0b35" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                Management
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" asp-controller="Coupon" asp-action="CouponIndex">Coupons</a></li>
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="ProductIndex">Products</a></li>
                                <li><hr class="dropdown-divider"/></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            var name = User.Identity.Name.Substring(0, 1).ToUpper() + User.Identity.Name.Substring(1).ToLower();
                            <li>
                                <a class="navbar-brand fw-bolder" style="color:#1a0b35" asp-controller="Home" asp-action="Index">Hello, @name</a>
                            </li>
                            <li>
                                <a class="navbar-brand fw-bolder" style="color:#1a0b35" asp-controller="Auth" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
						{
                            <li>
                                <a class="navbar-brand fw-bolder" style="color:#1a0b35" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                            <li>
                                <a class="navbar-brand fw-bolder" style="color:#1a0b35" asp-controller="Auth" asp-action="Register">Register</a>
                            </li>
						}
                    </ul>
                </div> 
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_Notifications" />
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="text-center">
            Made with <i class="bi bi-balloon-heart-fill"></i> by NanoNet
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
